<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portjs.base.dao.TMenuResourceMapper">
  <resultMap id="BaseResultMap" type="com.portjs.base.model.TMenuResource">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="resource_menu" jdbcType="INTEGER" property="resourceMenu" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `name`, sort, `path`, grade, icon, resource_menu
  </sql>
  <select id="selectMenuByRoles" resultMap="BaseResultMap">
 SELECT
	m.*
FROM
	t_menu_resource m
	JOIN t_role_menu r ON r.menu_id = m.id
WHERE m.resource_menu=0
and r.id in
<foreach collection="rids" open="(" separator="," close=")" item="item">
    ${item}
</foreach>
  order by m.id
  </select>

  <select id="selectResByRoles" resultMap="BaseResultMap">
    SELECT
    m.*
    FROM
    t_menu_resource m
    JOIN t_role_menu r ON r.menu_id = m.id
    WHERE m.resource_menu=1
    AND r.id in
    <foreach collection="rids" open="(" separator="," close=")" item="item">
      ${item}
    </foreach>
    order by m.id
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select  * from t_menu_resource where SUBSTR(id,1,2) != '99'
  </select>
  <select id="selectAllByUserId" resultMap="BaseResultMap">
select  mr.* from t_user_role ur
JOIN t_role_menu rm on ur.role_id=rm.role_id
JOIN t_menu_resource mr on mr.id=rm.menu_id
WHERE ur.user_id=#{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectLastByParent" resultMap="BaseResultMap">
    select * from t_menu_resource  where  parent_id=#{parentId,jdbcType=VARCHAR} order by id desc limit 0,1
  </select>
</mapper>