<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portjs.base.dao.TMenuResourceMapper">
  <resultMap id="BaseResultMap" type="com.portjs.base.model.TMenuResource">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="leaf" jdbcType="INTEGER" property="leaf" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="reserved1" jdbcType="LONGVARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="LONGVARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="LONGVARCHAR" property="reserved3" />
    <result column="reserved4" jdbcType="LONGVARCHAR" property="reserved4" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, parent_id, `name`, `path`, grade, icon,leaf, sort, reserved1, reserved2, reserved3,
    reserved4
  </sql>
  <select id="selectByRoles" resultMap="BaseResultMap">
    SELECT
	m.*
FROM
	t_menu_resource m
	JOIN t_role_menu r ON r.menu_id = m.id
WHERE r.role_id in
<foreach collection="list" index="index" item="item" close=")" open="(" separator=",">
  ${item}
</foreach>
  order by m.id
  </select>
</mapper>