<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portjs.base.dao.TTraceLogMapper">
  <resultMap id="BaseResultMap" type="com.portjs.base.model.TTraceLog">
    <!--@mbg.generated-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="action" jdbcType="VARCHAR" property="action" />
    <result column="param" jdbcType="VARCHAR" property="param" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="consume_time" jdbcType="INTEGER" property="consumeTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="class_method" jdbcType="LONGVARCHAR" property="classMethod" />
    <result column="req_content" jdbcType="LONGVARCHAR" property="reqContent" />
    <result column="res_content" jdbcType="LONGVARCHAR" property="resContent" />
    <result column="remote_ip" jdbcType="VARCHAR" property="remoteIp" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, model, `action`, param, `result`, consume_time, url, class_method, req_content, 
    res_content, remote_ip, notes, company_id, dept_id, create_id, create_time
  </sql>
</mapper>