<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portjs.base.dao.TTraceLogMapper">
  <resultMap id="BaseResultMap" type="com.portjs.base.model.TTraceLog">
    <!--@mbg.generated-->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CREATETIME" jdbcType="TIMESTAMP" property="createtime" />
    <result column="consume_TIME" jdbcType="INTEGER" property="consumeTime" />
    <result column="model_name" jdbcType="LONGVARCHAR" property="modelName" />
    <result column="METHOD_INFO" jdbcType="LONGVARCHAR" property="methodInfo" />
    <result column="METHOD_NAME" jdbcType="LONGVARCHAR" property="methodName" />
    <result column="REQUEST_MESSAGE" jdbcType="LONGVARCHAR" property="requestMessage" />
    <result column="RESPONSE_MESSAGE" jdbcType="LONGVARCHAR" property="responseMessage" />
    <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
    <result column="remote_ip" jdbcType="VARCHAR" property="remoteIp" />
    <result column="remote_user" jdbcType="VARCHAR" property="remoteUser" />
    <result column="reserved1" jdbcType="VARCHAR" property="reserved1" />
    <result column="reserved2" jdbcType="VARCHAR" property="reserved2" />
    <result column="reserved3" jdbcType="VARCHAR" property="reserved3" />
    <result column="reserved4" jdbcType="VARCHAR" property="reserved4" />
    <result column="reserved5" jdbcType="VARCHAR" property="reserved5" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ID, CREATETIME, consume_TIME, model_name, METHOD_INFO, METHOD_NAME, REQUEST_MESSAGE, 
    RESPONSE_MESSAGE, OPERATOR_NAME, remote_ip, remote_user, reserved1, reserved2, reserved3, 
    reserved4, reserved5
  </sql>
</mapper>